/*  your css code here. If applicable */
body{
	background-color:#f8f8f8;
}
.book-library h1{
	background-color:rgb(255,255,255);
}
.book-library
{
	background-color:#ffffff;
	display:flex;
	flex-direction:column;
	justify-content:space-around;
	align-items:flex-start;
	
}
 .book
{
   background-color:rgb(255,255,255);
	margin:10px;
	padding:10px;
	
}
.title{
	color:#777;
	
}
 button{
	width:100%;
	background-color:#2ecc71;
	color:white;
	padding:10px;
	cursor:pointer;
	border:1px rgb(255,255,255) solid;
}


.book-inside{
	background-color:rgb(255,255,255);
}
